[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=7,<8"
requests = "*"
pytest-asyncio = "*"
pylint = "*"
build = "*"
twine = "*"
pyflakes = "*"
vulture = "*"
virtualenv = "*"
httpx = "*"

[packages]
click = ">=7.1,<8"
starlette = ">=0.23,<0.24"
uvicorn = ">=0.13,<1"
orjson = ">=3.4.7,<4"
pyjwt = ">=2.4.0,<2.5.0"
pyyaml = ">=5.3.1,<6"
timing-asgi = ">=0.2.1,<1"
schema = ">=0.7.4,<1"
toml = "*"
pip = "*"
packaging = ">=19.0"
python-multipart = "*"

[scripts]
halfapi = "python -m halfapi"
