[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"
pytest-asyncio = "*"

[packages]
click = "*"
starlette = "*"
uvicorn = "*"
jwt = "*"

[requires]
python_version = "3"

[scripts]
halfapi = "halfapi.cli.cli:cli"
