[Unit]
Description=HalfAPI - Project : Example API Socket

[Socket]
ListenStream=/var/lib/halfapi/example_api.sock
User=halfapi
SocketUser=halfapi
SocketGroup=www-data
# Optionally restrict the socket permissions even more.
# Mode=600

[Install]
WantedBy=sockets.target
